<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Adăugare Carte</title>
</head>
<body>
<h1>Adaugă o Carte</h1>

<form th:action="@{/adauga-carte}" method="post">
    <label for="isbn">ISBN:</label>
    <input type="text" id="isbn" name="isbn" required />
    <br />

    <label for="titlu">Titlu:</label>
    <input type="text" id="titlu" name="titlu" required />
    <br />

    <label for="autor">Autor:</label>
    <input type="text" id="autor" name="autor" required />
    <br />

    <button type="submit">Adaugă Carte</button>
</form>

<p th:text="${mesaj}"></p> <!-- Mesajul de confirmare -->
</body>
</html>
